<ion-header>
  <ion-toolbar color="dark">

    <ion-icon (click)="Home()" slot="start" name="arrow-back" class="iconeconf"></ion-icon>
    <ion-icon slot="start" name="contact" class="iconeconf"></ion-icon>

    <div class="div2">
      <ion-title>
        <img src="../../assets/imagens/logo2.png" class="logo">
      </ion-title>
    </div>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-toolbar color="success">
    <ion-title>Usuarios</ion-title>
     <ion-row>
      <ion-searchbar  [ngStyle]="{'display':filtroBox}" #textoBusca animated placeholder="Procurar" (ionChange)="busca()"  (ionChange)="presentActionSheet()"></ion-searchbar>
     </ion-row>
     
     
     <ion-icon name="search" slot="end" size="large" id="market" (click)="showFilter()" class=""></ion-icon>
  </ion-toolbar>

  <ion-item *ngFor="let usuario of idList">
    <ion-thumbnail slot="start" (click)="perfilUsuario(usuario)">
      <img src="{{usuario?.imagem}}" class="circle">
    </ion-thumbnail>
    <ion-label (click)="Chat(usuario)">
      <p>{{usuario.nome}}</p>
    </ion-label>
  </ion-item>

</ion-content>